.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/bg/bg2.jpg');
    &__descr{
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        margin-top: 30px;        
    }
}